<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h</name>
  <service>
    <type>_spotify-connect._tcp</type>
    <port>0</port>
    <txt-record>CPath=/</txt-record>
    <txt-record>VERSION=1.0</txt-record>
  </service>
</service-group>
